<div class="col">
  {% if project.long_content %}
  <a href="{% if project.redirect %}{{ project.redirect }}{% else %}{{ project.url | relative_url }}{% endif %}">
    <div class="card h-100 hoverable">
      {% if project.img %}
        {%
          include figure.liquid
          loading="eager"
          path=project.img
          sizes = "250px"
          alt="project thumbnail"
          class="card-img-top"
        %}
      {% endif %}
      <div class="card-body">
        <h3 class="card-title">{{ project.title }}</h3>
        <p class="card-text">{{ project.description }}</p>
      </div>
    </div>
  </a>
  {% else %}
  <div class="card h-100 hoverable">
    {% if project.img %}
      {%
        include figure.liquid
        loading="eager"
        path=project.img
        alt="project thumbnail"
        class="card-img-top"
      %}
    {% endif %}
    <div class="card-body">
      <h3 class="card-title">{{ project.title }}</h3>
      <p class="card-text">{{ project.description }}</p>
    </div>
  </div>
  {% endif %}
</div>
