---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
      <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
      {{ site.last_name }}
      {% else %}
      {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
    <div class="profile float-right">
      {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
      {% capture sizes %}(min-width: {{ site.max_width }}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"
      {% endcapture %}
      {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image cache_bust=true %}
    </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>
    
    <article>
      <!-- Latest posts -->
      {% if site.latest_posts.enabled %}
      <h4>
        <a href="{{ 'blog/' | relative_url }}" style="color: inherit">Latest Posts</a>
      </h4>
      {% include latest_posts.liquid %}
      {% endif %}
    </article>

  <!-- Social -->
  {% if page.social %}
  <div class="social">
    <div class="contact-icons">{% include social.liquid %}</div>
      <div class="contact-note">Feel free to contact me</div>
    </div>
  {% endif %}
</div>