---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
      <span class="font-weight-bold">{{ site.first_name }}</span>
      {{ site.middle_name }}
      {{ site.last_name }}
      {% else %}
      {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% include figure.liquid path="assets/img/profile.jpg" class="img-fluid rounded z-depth-1" zoomable=true %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    <!-- <h4>Miscellanea</h4> -->
    {% include miscellanea.liquid %}

    <article>
      <!-- Latest posts -->
      {% if site.latest_posts.enabled %}
        <h4>Latest Posts</h4>
        {% include latest_posts.liquid %}
      {% endif %}

      <!-- Latest leetcode solutions -->
      {% if site.latest_leetcode_solutions.enabled %}
        <h4>Latest Leetcode Solutions</h4>
        {% include latest_leetcode_solutions.liquid %}
      {% endif %}
    </article>

    <div class="social">
      <div class="contact-icons">{% include social.liquid %}</div>
      <div class="contact-note">Feel free to contact me via email.</div>
    </div>
</div>